@import '../../assets/scss/customer/utilty';
.orderCheck{
  .order-box{
    min-height: 300px;
  }
  .orderStatus{
    padding: 80px 0;
    .img{
      width: 50px;
    }
  }
}


// table 
.cus-table{
  thead{
    th:not(:last-child){
      position: relative;
      &::after{
        content: '';
        display: block;
        width: 1px;
        height: 50%;
        background-color: #ccc;
        position: absolute;
        top:50%;
        right: 0;
        transform: translate(-50%, -50%); 
      }
    }
  }
  tbody{
    tr:nth-of-type(even){
      background-color: #f8f8f8;
    }
  }

  // 功能按鈕
  .cus-btn{
    border-radius: 20px;
    overflow: hidden;
    background-color: $cus-menuBar-bg;
    color: $cus-menuBar-up;
    border:none;
    cursor: pointer;
  }
}
