@import '../../assets/scss/customer/utilty';

@mixin btnStyle ($className: default, $bgColor: #ccc, $width: 250px, $height: 50px, $fontColor: #ccc, $letter-space: 1px, $fontSize: 14px ) {
  &.#{$className}{
    background-color: $bgColor;
    height: $height;
    width: $width;
    text-align: center;
    line-height: $height;
    color:$fontColor;
    letter-spacing: $letter-space;
    font-size: $fontSize;
    box-shadow: 0px 5px darken($bgColor, 20%);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: .2s;

    @if $className == jointCart {
      border-radius: 0 0 5px 5px;
    }

    &::after{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(white,.3);
      position: absolute;
      top: 0;
      left: 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: .3s;
    }
    @media screen and ( min-width: 768px){
      @if $className == goCart{
        &:hover{
          transform: translateY(5px);
          box-shadow: 0px 0px darken($bgColor, 20%);
        }
      } @else if $className == jointCart {
        &:hover::after{
          transform: scaleX(1);
        }
      }
    }
  }
}

.buttonItem{
  @include btnStyle(goCart, $cus-green, 200px, 50px, white, 10px, 16px) ;
  @include btnStyle(jointCart, $cus-menuBar-second, 100%, 50px, white, 1px, 16px) ;
}
