<div class="bannerItem position-relative">
  <slick
    class="bannerHover mb-0"
    ref="slick"
    :options="slickOptions"
    @afterChange="handleAfterChange"
    @beforeChange="handleBeforeChange"
    @breakpoint="handleBreakpoint"
    @destroy="handleDestroy"
    @edge="handleEdge"
    @init="handleInit"
    @reInit="handleReInit"
    @setPosition="handleSetPosition"
    @swipe="handleSwipe"
    @lazyLoaded="handleLazyLoaded"
    @lazyLoadError="handleLazeLoadError">

    <a href="javascript:;" class="banner-img position-relative d-flex justify-content-center align-items-center" v-for="(item,key) in data" :key="key">
      <img :data-lazy="item.url" class="" alt="">
      <div class="spinner-border lazyloadingStatus" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </a>
  </slick>
</div>
