@import '../../assets/scss/customer/utilty';

.home{
  position: relative;
  padding-top: $navHeight;
  min-height: 100vh;
  left: 0;
  transition: left .3s;
  background-color: #eff9f9;
  .content{
    height: 1000px;
    background-color: #e8f6f7;
  }

  .mainOption{
    position: fixed;
    z-index: 1;
    right: 15px;
    // top: 50%;
    // transform: translateY(-50%);
    bottom: 50px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    padding: 15px 5px;
    font-size: 12px;
    .gotop{
      >i{
        margin-bottom:-15px;
        color: $cus-green;
      }
    }
  }
  @media screen and (max-width: 767px){
    &.rwdSwitchOn{
      left: 50%;
    }
  }
  @media screen and (max-width: 575px) {
    &.rwdSwitchOn{
      left: 80%;
    }
  }
  
}
@media screen and (max-width: 767px){
  .home{
    padding-top: $navHeightRWD;
  }
}
