@import '../../assets/scss/customer/utilty';

$progress-bg : #f2f7fd;
$expiry-bg: #e2eefd;

.product{
  // min-height: 100vh;  
  // padding: 15px ;
  .product-box{
    padding: 20px 0px 40px;
    min-height: 100vh;
    .productImgSelects{
      >.imgs{
        width: 20%;
        cursor: pointer;
        border-color: lighten($cus-green , 40%)  !important;
        transition: .3s;
        margin: 0 5px;
        &:first-child{
          margin-left: 0;
        }
        &:last-child{
          margin-right: 0;
        }
        &.active{
          border-color: $cus-lightblue  !important;
          border-width: 5px !important;
        }
        @media screen and (min-width: 768px){
          &:hover:not(.active){
            border-color: lighten($cus-lightblue, 0%)  !important;
          }
        }
      }
    }
    .product-title{
      margin-top:15px;
      font-size: 18px;
    }
    .subDescribe{
      font-size: 14px;
      color:$fontColorGray;
      margin: 20px 0;
      .sublist{
        padding-left: 15px;
        >li{
          line-height: 30px;
        }
      }
    }
    .productBuy{
      color:$fontColorGray;
      padding: 20px 0;
      .qp-area{
        font-size: 14px;
        .o-price{
          >span.lineThrough{
            text-decoration: line-through;
          }
        }
        .n-price{
          // font-size: 16px;
          >span{
            font-size: 25px;
          }
        }
      }
      .qty{
        font-size: 14px;
      }
    }

    .joint-procurement-area{
      padding: 20px 0;
      .progress-area{
        background-color: $progress-bg;
        height: 100px;
      }
      .joint-procurement-expiry{
        font-size: 14px;
        color: $fontColorGray;
        background-color: $expiry-bg;
        height: 50px;
        >.expiry{
          margin-left: 15px;
        }
        >.info-btn{
          background-color: transparent;
          border-radius: 50%;
          height: 25px;
          width: 25px;
          color: #2672c4;
          border-color: #2672c4;
          border-width: 2px;
          margin-right: 15px;
          >i{
            font-size: 19px;
          }
        }
      }
    }
    .cargo-info{
      padding-top: 20px;
      color:$fontColorGray;
      font-size: 14px;
    }

    .product-cate-menu{
      background-color: #fff;
      margin-top: 80px;
      >.nav-item{
        >a{
          position: relative;
          color: $fontColorGray;
          width: 150px;
          text-align:center;
          // transition: .3s;
          &:before{
            visibility: hidden;
            position: absolute;
            content: '';
            display: inline-block;
            width: 100%;
            height: 5px;
            top: -5px;
            left: 0;
            background-color: #089784;
          }
          &.active{
            color:#fff;
            background: linear-gradient(180deg, $cus-menuBar-up 0%, $cus-menuBar-down 100%);
            &:before{
              visibility: visible;
            }
          }
          @media screen and (min-width: 768px) {
            &:hover{
              color:#fff;
              // background: linear-gradient(180deg, $cus-menuBar-up 0%, $cus-menuBar-down 100%);
              background-color: lighten($cus-menuBar-down,15%); 
              &:before{
                visibility: visible;
              }
            }
          }
        }
      }
    }
    .product-cate-box{
      padding: 20px 40px;
      >div{
        min-height: 100px;
        >.title{
          font-size: 16px;
          margin-bottom: 5px;
        }
        >.content{
          color:$fontColorGray;
          font-size: 14px;
          margin-bottom: 15px;
        }
      }
    }
  }

  .related-product-box{
    min-height: 300px;
    >.title{
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      background-color: lighten($cus-menuBar-down,15%); 
      padding-left: 25px;
      position: relative;
      color:#fff;
      &:before{
        position: absolute;
        content: '';
        display: inline-block;
        width: 10px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #089784;
      }
    }
  }
}

@media screen and (max-width: 575px){
  .rwd-100{
    width: 100% !important;
  }
}
