//自訂

$customer :rgba(36, 94, 96,1); //rgba(240,89,42,1)  ;

$cus-green: #45c7b6;
$cus-yellow: #ffd400;
$cus-menuBar-bg : #b4e8e1;
$cus-menuBar-up : #29b2a0 ;
$cus-menuBar-down : #44c6b5 ;
$cus-menuBar-second : #4b8fd9;
$cus-menuBar-third: #2672c4;
$cus-FontColor-gray: #c3c3c3;
$cus-lightblue: #97c4f5;
$cus-red: #f06671 ;

//主導覽列高度
$navHeight : 106px;
$navHeightRWD : 61px;

// rwd bg
$rwdBgColor: #e4dcdc;
// rwd nav height
$rwdnavtopPadding: 40px;
$rwdMainNavbarHeight: 50px;
$rwdSearchbarHeight: 50px;
$rwdLiheight: 45px;

// 文字顏色
$fontColorGray : #888;

// footer color
$footerColor-up: #a0a0a0;
$footerColor-down: #858585;
$footerFontColor: #e3e3e3;
