// fade
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .3s;
}

//scale
.scale-enter,
.scale-leave-to {
  opacity: 0;
  transform: scale(0);
}

.scale-enter-to,
.scale-leave {
  opacity: 1;
  transform: scale(1);
}

.scale-enter-active,
.scale-leave-active {
  transition: .5s;
}


//selectOption
.selectOption-enter,
.selectOption-leave-to {
  opacity: 0;
  transform: translateX(-5px);
}

.selectOption-enter-to,
.selectOption-leave {
  opacity: 1;
  transform: translateX(0px);
}

.selectOption-enter-active,
.selectOption-leave-active {
  transition: .3s ;
}


// navShow
.navShow-enter,
.navShow-leave-to {
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
}

.navShow-enter-to,
.navShow-leave {
  transform-origin: top;
  opacity: 1;
  transform: scaleY(1);
}

.navShow-enter-active,
.navShow-leave-active {
  transition: transform .3s ,opacity .2s ;
  transform-origin: top;
}


// rwdMenu
.rwdMenu-enter,
.rwdMenu-leave-to {
  transform-origin: left;
  transform: translateX(-100%);
  opacity: 0;
}

.rwdMenu-enter-to,
.rwdMenu-leave {
  transform-origin: left;
  opacity: 1;
  transform: translateX(0%);
}

.rwdMenu-enter-active,
.rwdMenu-leave-active {
  transition: .5s  ;
  transform-origin: left;
}

// returnBack
.returnBack-enter,
.returnBack-leave-to {
  // left: -50px;
  transform: translateX(-100%);
  opacity: 0;
}

.returnBack-enter-to,
.returnBack-leave {
  transform: translateX(0%);
  opacity: 1;
  // left: 0;
}

.returnBack-enter-active,
.returnBack-leave-active {
  transition: .5s  ;
}
