<ul class="nav countItem">
  <li class="nav-item count-controlBtn d-flex align-items-center" :class="{'disabled' : count <= min}" @click="minusCount">
    <md-ripple class="d-flex align-items-center justify-content-center">
       <md-icon>remove</md-icon>
      </md-ripple>
  </li>
  <!-- <li class="nav-item countShow d-flex align-items-center justify-content-center">{{count}}</li> -->
  <li class="nav-item countShow d-flex align-items-center justify-content-center">
    <input type="number" v-model.number="dataInput" @input="change" :max="max" :min="min">
  </li>
  <li class="nav-item count-controlBtn d-flex align-items-center" :class="{'disabled' : count >= max}" @click="addCount">
    <md-ripple class="d-flex align-items-center justify-content-center">
      <md-icon>add</md-icon>
    </md-ripple>   
  </li>
</ul>
