@import '../../assets/scss/customer/utilty';
.memInfo{
  // 表單
  .switch-fix{
    margin: 5px 0;
  }
  .cus-date{
    i{
      font-size: 18px !important;
      height: 18px;
    }
  }
}
