<div class="paginationItem customer-pagination d-flex justify-content-center align-items-center">
  <nav class="text-center">
    <ul class="pagination" v-if="totalPages !== 1">
      <li class="page-item" @click="prevPage" :class="{'disabled' : currentPage === 1}">
        <a class="page-link" href="javascript:;" tabindex="-1">&lt;</a>
      </li>
      <li class="page-item">
        <div class="pageShow">
            <md-menu md-size="small" md-align-trigger md-direction="bottom-start" >
                <md-button class="md-raised md-primary" @click="showDialog = true">{{currentPage}} / {{totalPages}}
                </md-button>
            </md-menu>
        </div> 
      </li>
      <li class="page-item" @click="nextPage" :class="{'disabled' : totalPages === currentPage}">
        <a class="page-link" href="javascript:;">&gt;</a>
      </li>
    </ul>
    <p class="customer-pagination__count text-center col-md-12 font-12" >{{dataInfo}}</p>
  </nav>
  
  <!-- searchFilter box -->
  <md-dialog :md-active.sync="showDialog">
    <md-dialog-title>頁數搜尋</md-dialog-title>
    <md-dialog-content>
      <md-field>
        <label>
          <md-icon>search</md-icon>
        </label>
        <md-input v-model.number.lazy='pageNumber' type="number" min="1" :max="totalPages"></md-input>
        <span class="md-helper-text">最小頁數:1 / 最大頁數:{{totalPages}}</span>
      </md-field>
    </md-dialog-content>
    

    <md-dialog-actions>
      <md-button class="md-primary" @click="showDialog = false">close</md-button>
      <md-button class="md-primary" @click="searchPage">search</md-button>
    </md-dialog-actions>
  </md-dialog>

</div>
